@tailwind base;
@tailwind components;
@tailwind utilities;

/* এটি অ্যাড করলে ডার্ক মোড কাজ করছে কি না সাথে সাথে বুঝবে */
body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}